<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MonitoredProcessesSection" type="DiRTTelemetryErrorFix.Config.MonitoredProcessesConfigurationSection, DiRTTelemetryErrorFix"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <MonitoredProcessesSection>
    <MonitoredProcesses>
      <add name="showdown_avx" />
      <add name="dirt3_game" />
      <add name="dirt3" />
    </MonitoredProcesses>
  </MonitoredProcessesSection>
  <appSettings>
    <!-- The timeout, in seconds, to wait for the process to start. -->
    <add key="timeout" value="30" />
  </appSettings>
</configuration>
